.gallery2 {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	li {
		padding: 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		flex: 1 0 200px;
		margin: 10px;
		box-sizing: border-box;
		max-width: 450px;

		&:before {
			content: '';
			padding-top: 100%;
			display: block;
			float: left;
		}

		&.spacer {
			height: 0;
			margin-top: 0;
			margin-bottom: 0;
			&:before {
				padding: 0;
			}
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			transition: background .2s ease;

			&:hover {
				background: rgba(255,255,255,.3);
			}
		p {
			font-size: 0.8em;
		}
		}
	}
}

.cards {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.card {
		flex: 0 0 46.5%;
		box-sizing: border-box;
		margin: 10px;
		border-radius: 10px;
}

.card .card_content {
	background-color: #f2f2f2;
	.title {
		padding: 5px 10px;
		font-size: 1.2em;
		color: #333;
	}
	.body {
		padding: 5px 10px;
		font-size: 0.85em;
		color: #666;
	}
}

.card a {
		display: block;
		width: 100%;
		height: 100%;
		transition: color .2s ease;

		&:hover {
			background: rgba(255,255,255,.3);
			color: #000;
		}
	}